h3,
h4 {
	margin: 1em;
}

button {
	margin: 1em auto;
}

.scientist {
	background-image: url("../../assets/scientist.png");
	background-size: cover;
	height: 300px;
	width: 300px;
	margin-bottom: 1.5em;
}
