html {
	padding: 10px;
}

body {
	font-family: "Open Sans", sans-serif;
}

h2 {
	position: relative;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

body {
	/* background: #23d5ab; */
	background-image: url("./assets/bg.png");
	background-size: 100vw;
}

.explanation {
	font-size: 1.2em;
	margin: auto;
}

.bottomElement {
	height: 3em;
}

.container {
	padding: 1em 1em;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 15px;
}
