.base-input {
	width: 2em;
	height: 2em;
	margin: 1em 0.3em;
	text-align: center;
}

input {
	background-color: transparent;
	font-weight: bold;
	border: black 3px solid;
	font-size: 2em;
}

ul {
	list-style: none;
	padding: 0;
}

.resultsSeperator {
	margin-top: 3em;
}
